.p_teacher_content_row,.p_teacher_profile_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p_teacher_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;

    h1{
        font-family: 'Lobster Two', sans-serif;
            font-weight: 900;
            color: $darkgreen;
    }
    p{
        color: $gray;
        width: 450px;
        text-align: center;
    }
}



.p_teacher_profile{
    position: relative;

    margin-top: 10px;
    img{
        position: relative;
        border-radius: 50%;
        height: 500px;
    }
    
    span{
        position: absolute;
        top: 50%;
        right: 0%;
        transition: border 0.3s ease-in-out;
        background-color: $white;
        height: 250px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        border: 15px solid $lightOrange;

        h3{
            font-family: 'Lobster Two', sans-serif;
            font-weight: 900;
            color: $darkgreen;
        }
        p{
            color: $gray;
        }

        .social_icon{
            display: flex;
            justify-content: space-between;
            width: 60%;
            font-size: 1rem;

            a{
                height: 40px;
                width: 40px;
                background-color: $orange;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: $white;
                text-decoration: none;
                transition: background-color 0.3s ease-in-out;
                &:hover{
                    background-color: $lightOrange2;
                }
            }
        }
        
        

    }
    &:hover span {
        border: 15px solid $orange;
    }
}

@media screen and (max-width: 600px) {
    .p_teacher_content{
        p{
            width: auto;
        }

        
    }
    .p_teacher_profile{
        span{
            right: 10% !important;
        }
    }
}

