<div class="container about" id="about">
    <div class="row aboutRow">
        <div class="col-lg-6 content">
            <div class="row contentWraper">
                <div class="col-11 innerAbout">
                    <h1>Learn More About Our Work And Our Cultural Activities</h1>
                    <p>Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <p>Stet no et lorem dolor et diam, amet duo ut dolore vero eos. No stet est diam rebum amet diam ipsum. Clita clita labore, dolor duo nonumy clita sit at, sed sit sanctus dolor eos, ipsum labore duo duo sit no sea diam. Et dolor et kasd ea. Eirmod diam at dolor est vero nonumy magna.</p>
                </div>
                <div class="col btnWraper">
                    <a href="#" class="myBtn">Read More</a>
                    <div class="profile">
                        <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt="" class="img-fluid profilePic">
                        <p>Jhone Doe<br><span>CEO & Founder</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col aboutImage">
            <img src="{{ url_for('static', filename = 'images/about-1.jpg') }}" alt="" class="img-fluid">
            <img src="{{ url_for('static', filename = 'images/about-2.jpg') }}" alt="" class="img-fluid">
            <img src="{{ url_for('static', filename = 'images/about-3.jpg') }}" alt="" class="img-fluid">
        </div>
    </div>
</div>