<div class="classes container" id="classes">
    <div class="row content_wrapper">
        <div class="col class_content">
            <h1>School Classes</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod
                sit. Ipsum diam justo sed rebum vero dolor duo.</p>

        </div>

        <div class="row class_wrapper">
            <div class="col class_items">

                <div class="class">
                    <div class="class_item">
                        <img src="{{ url_for('static', filename = 'images/classes-1.jpg') }}" alt=""
                            class="img-fluid class_item_image">
                        <h1>Art & Drawing</h1>
                        <div class="teacher">
                            <div class="teacher_profile">
                                <div class="teacher_info">
                                    <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt=""
                                        class="teacher_pic img-fluid">
                                    <p>Jhon Done<br><span>Teacher</span></p>

                                </div>
                                <div class="course_cost">
                                    <p>$99</p>
                                </div>

                            </div>

                            <div class="teacher_details">
                                <div class="details">
                                    <p>Age:<br><span>3-5 Years</span></p>
                                    <p>Time:<br><span>9-10 AM</span></p>
                                    <p>Capacity:<br><span>30 Kids</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="class">
                    <div class="class_item">
                        <img src="{{ url_for('static', filename = 'images/classes-2.jpg') }}" alt=""
                            class="img-fluid class_item_image">
                        <h1>Art & Drawing</h1>
                        <div class="teacher">
                            <div class="teacher_profile">
                                <div class="teacher_info">
                                    <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt=""
                                        class="teacher_pic img-fluid">
                                    <p>Jhon Done<br><span>Teacher</span></p>

                                </div>
                                <div class="course_cost">
                                    <p>$99</p>
                                </div>

                            </div>

                            <div class="teacher_details">
                                <div class="details">
                                    <p>Age:<br><span>3-5 Years</span></p>
                                    <p>Time:<br><span>9-10 AM</span></p>
                                    <p>Capacity:<br><span>30 Kids</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="class">
                    <div class="class_item">
                        <img src="{{ url_for('static', filename = 'images/classes-3.jpg') }}" alt=""
                            class="img-fluid class_item_image">
                        <h1>Art & Drawing</h1>
                        <div class="teacher">
                            <div class="teacher_profile">
                                <div class="teacher_info">
                                    <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt=""
                                        class="teacher_pic img-fluid">
                                    <p>Jhon Done<br><span>Teacher</span></p>

                                </div>
                                <div class="course_cost">
                                    <p>$99</p>
                                </div>

                            </div>

                            <div class="teacher_details">
                                <div class="details">
                                    <p>Age:<br><span>3-5 Years</span></p>
                                    <p>Time:<br><span>9-10 AM</span></p>
                                    <p>Capacity:<br><span>30 Kids</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="class">
                    <div class="class_item">
                        <img src="{{ url_for('static', filename = 'images/classes-4.jpg') }}" alt=""
                            class="img-fluid class_item_image">
                        <h1>Art & Drawing</h1>
                        <div class="teacher">
                            <div class="teacher_profile">
                                <div class="teacher_info">
                                    <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt=""
                                        class="teacher_pic img-fluid">
                                    <p>Jhon Done<br><span>Teacher</span></p>

                                </div>
                                <div class="course_cost">
                                    <p>$99</p>
                                </div>

                            </div>

                            <div class="teacher_details">
                                <div class="details">
                                    <p>Age:<br><span>3-5 Years</span></p>
                                    <p>Time:<br><span>9-10 AM</span></p>
                                    <p>Capacity:<br><span>30 Kids</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="class">
                    <div class="class_item">
                        <img src="{{ url_for('static', filename = 'images/classes-5.jpg') }}" alt=""
                            class="img-fluid class_item_image">
                        <h1>Art & Drawing</h1>
                        <div class="teacher">
                            <div class="teacher_profile">
                                <div class="teacher_info">
                                    <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt=""
                                        class="teacher_pic img-fluid">
                                    <p>Jhon Done<br><span>Teacher</span></p>

                                </div>
                                <div class="course_cost">
                                    <p>$99</p>
                                </div>

                            </div>

                            <div class="teacher_details">
                                <div class="details">
                                    <p>Age:<br><span>3-5 Years</span></p>
                                    <p>Time:<br><span>9-10 AM</span></p>
                                    <p>Capacity:<br><span>30 Kids</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="class">
                    <div class="class_item">
                        <img src="{{ url_for('static', filename = 'images/classes-6.jpg') }}" alt=""
                            class="img-fluid class_item_image">
                        <h1>Art & Drawing</h1>
                        <div class="teacher">
                            <div class="teacher_profile">
                                <div class="teacher_info">
                                    <img src="{{ url_for('static', filename = 'images/user.jpg') }}" alt=""
                                        class="teacher_pic img-fluid">
                                    <p>Jhon Done<br><span>Teacher</span></p>

                                </div>
                                <div class="course_cost">
                                    <p>$99</p>
                                </div>

                            </div>

                            <div class="teacher_details">
                                <div class="details">
                                    <p>Age:<br><span>3-5 Years</span></p>
                                    <p>Time:<br><span>9-10 AM</span></p>
                                    <p>Capacity:<br><span>30 Kids</span></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
