<div class="container facilities" id="facilities">
    <div class="row facilities_wrapper">
        <div class="col-12 facilities_content">
            <h1>School Facilities</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="col facilities_view">
            <div class="views animate__animated animate__fadeInUp">
                <span class="icon"><i class="fa fa-bus-alt"></i></span>
                <h3>School Bus</h3>
                <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
            </div>

            <div class="views animate__animated animate__fadeInUp">
                <span class="icon"><i class="fa fa-futbol"></i></span>
                <h3>School Bus</h3>
                <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
            </div>
            <div class="views animate__animated animate__fadeInUp">
                <span class="icon"><i class="fa fa-home"></i></span>
                <h3>School Bus</h3>
                <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
            </div>
            <div class="views animate__animated animate__fadeInUp">
                <span class="icon"><i class="fa fa-chalkboard-teacher"></i></span>
                <h3>School Bus</h3>
                <p>Eirmod sed ipsum dolor sit rebum magna erat lorem kasd vero ipsum sit</p>
            </div>
            <!-- <div class="views"></div>
            <div class="views"></div>
            <div class="views"></div> -->
        </div>
    </div>
</div>