<div class="container-fluid footer" id="footer">
    <div class="row footerRowContent">
        <div class="col content">
            <h1>Get In Touch</h1>
            <p><span><i class="fa-solid fa-location-dot"></i></span>123 Street, New York, USA</p>
            <p><span><i class="fa-solid fa-phone"></i></span>+012 345 67890</p>
            <p><span><i class="fa-solid fa-envelope"></i></span>mail@domain.com</p>
            <div class="social">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>
        </div>
        <div class="col content">
            <h1>Quick Links</h1>
            <ul>
                <li><span><i class="fa-solid fa-angle-right"></i></span>About Us</li>
                <li><span><i class="fa-solid fa-angle-right"></i></span>Contact Us</li>
                <li><span><i class="fa-solid fa-angle-right"></i></span>Our Services</li>
                <li><span><i class="fa-solid fa-angle-right"></i></span>Privacy Policy</li>
                <li><span><i class="fa-solid fa-angle-right"></i></span>Term & Conditions</li>
            </ul>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 content">
            <h1>Photo Gallery</h1>
            <div class="gallary">
                <img src="{{ url_for('static', filename = 'images/classes-1.jpg') }}" alt="" class="img-fluid">
                <img src="{{ url_for('static', filename = 'images/classes-2.jpg') }}" alt="" class="img-fluid">
                <img src="{{ url_for('static', filename = 'images/classes-3.jpg') }}" alt="" class="img-fluid">
                <img src="{{ url_for('static', filename = 'images/classes-4.jpg') }}" alt="" class="img-fluid">
                <img src="{{ url_for('static', filename = 'images/classes-3.jpg') }}" alt="" class="img-fluid">
                <img src="{{ url_for('static', filename = 'images/classes-4.jpg') }}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col content">
            <h1>Newsletter</h1>
            <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
            <div class="email_input">
                <input type="text" class="form-control" placeholder="Your email">
                <a href="#" class="myBtn">SignUp</a>
            </div>
        </div>
     
    </div>
   
    <div class="row footerRowTC">
        <hr>
        <div class="col col-md-6 designBy">
            <p><a href="#">© Your Site Name</a>, All Rights Reserved. Designed By <a href="#">HTML Codex</a></p>
        </div>
        <div class="col col-md-6 TC">
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Cookies</li>
                <li><a href="#"></a>Help</li>
                <li><a href="#"></a>FAQs</li>
            </ul>
        </div>
    </div>
</div>