<div class="container popular_teacher">
    <div class="row p_teacher_content_row">
        <div class="col p_teacher_content">
            <h1>Popular Teachers</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>

        </div>
       
    </div>
    <div class="row p_teacher_profile_row">

        <div class="col-md-3 col-lg-4 p_teacher_profile">
            <img src="{{ url_for('static', filename= 'images/team-1.jpg') }}" alt="profile">
            <span>
                <h3>Full Name</h3>
                <p>Designation</p>
                <div class="social_icon">
                   <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                   <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </span>
        </div>

        <div class="col-md-3 col-lg-4 p_teacher_profile">
            <img src="{{ url_for('static', filename= 'images/team-2.jpg') }}" alt="profile">
            <span>
                <h3>Full Name</h3>
                <p>Designation</p>
                <div class="social_icon">
                   <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                   <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </span>
        </div>

        <div class="col-md-3 col-lg-4 p_teacher_profile">
            
            <img src="{{ url_for('static', filename= 'images/team-3.jpg') }}" alt="profile">
            <span>
                <h3>Full Name</h3>
                <p>Designation</p>
                <div class="social_icon">
                   <a href="#"> <i class="fa-brands fa-facebook-f"></i></a>
                   <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </span>
        </div>

    </div>
</div>